/*!
 * Katniss Premium Admin Template v1.0
 *
 * Author: ThemePixels (themepixels@gmail.com)
 * URL: http://www.themepixels.com/themes/demo/webpage/katniss
 */


@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');
@import url('uniform.tp.css');
@import url('jquery.ui.css');
@import url('colorpicker.css');
@import url('colorbox.css');
@import url('jquery.jgrowl.css');
@import url('jquery.alerts.css');
@import url('animate.min.css');
@import url('animate.delay.css');
@import url('font-awesome.css');
@import url('jquery.tagsinput.css');
@import url('ui.spinner.css');
@import url('jquery.chosen.css');
@import url('fullcalendar.css');
@import url('font-awesome-ie7.css');
@import url('../fonts/roboto.css');


/***** RESET BROWSER STYLES *****/
/********************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}